__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

.git/
.gitignore

.vscode/

runs/
runs/**

pothole_training/
pothole_training/**

static/results/*
static/uploads/*

*.ipynb
.ipynb_checkpoints/

.DS_Store
Thumbs.db